.login-container {
    display: flex;
    width: 350px;
}

.signup-container {
    width: 350px;
    display: flex;
}

.confirm-container {
    width: 350px;
    display: flex;
}

.forgot-code-container {
    width: 350px;
    display: flex;
}

.forgot-password-container {
    width: 350px;
    display: flex;
}

.auth-discover-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.auth-aboutus-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}