.container {
    display: flex;
    flex-direction: column;
}

.forms-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    display: flex;
    flex: 0.9;
    background-color: violet;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    padding-right: 7%;
}

.form-container {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.right-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}