.container {
    display: flex;
    flex-direction: column;
}

.forms-container {
    display: flex;
    padding-bottom: 20px;
}

.left-container {
    display: flex;
    flex: 0.9;
    background-color: violet;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    width: 60%;
}

.form-container {
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 40px;
}

.right-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

.bottom-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.auth-discover-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.auth-aboutus-container {
    display: flex;
    justify-content: center;
    align-items: center;
}