.container {
    display: flex;
    flex-direction: column;
}

.forms-container {
    display: flex;
    height: 500px;
    flex-direction: row;
}

.left-container {
    display: flex;
    flex: 0.9;
    height: 100%;
    background-color: violet;
    justify-content: end;
    align-items: center;
}

.logo {
    padding-right: 7%;
}

.form-container {
    padding-left: 5%;
    padding-top: 2%;
}

.right-container {
    display: flex;
    flex: 1;
    height: 100%;
    justify-content: start;
    align-items: center;
}