.foother-component {
    position: relative;
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    margin-top: auto;
}

.foother-top-container {
    display: flex;
    flex-direction: row;
}

.foother-left-container {
    display: flex;
    flex: 1;
    margin-left: 20px;
}

.foother-right-container {
    display: flex;
    flex: 1;
    margin-right: 20px;
}

.foother-bottom-container {
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.topbar-appbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 65px;
    padding-inline: 3%;
}

.topbar-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    height: 100%;
    width: 100%;
}

.topbar-logo-container {
    display: flex;
    height: 60px;
    width: 140px;
    cursor: pointer;
}

.topbar-logo {
    width: 100%;
}

.topbar-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.topbar-search-container {
    display: flex;
    margin: auto;
}

.topbar-items {
    padding-inline: 10px;
    display: flex;
    margin-left: auto;
}

.bottombar-container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

@keyframes pulse {
    0% {
      transform: scale(1); /* Ingrandimento normale */
    }
    50% {
      transform: scale(1.1); /* Ingrandimento al 50% dell'animazione */
    }
    100% {
      transform: scale(1); /* Tornare alla dimensione normale */
    }
  }
  
  /* Applica l'animazione all'elemento con la classe "pulsating-image" */
  .pulsating-image {
    animation: pulse 2s infinite; /* Esegui l'animazione per 2 secondi, ripeti all'infinito */
  }